<%- include( "partials/header" ) -%> 
<h1>Welcome to Library Management System</h1>
<a href="/adduser"><button>Register</button></a>
<a href="/login"><button>Login</button></a>
<%- include( "partials/footer" ) -%> 